$img-path: '../img';

$color-accent: #ffbc00;

$color-accent-2: #ffa200;
$color-accent-2-hover: $color-accent;
$color-accent-2-active: #ff8400;

$color-accent-3: #ff6c00;
$color-accent-3-active: #ee4f00;

$color-text: #393939;
